body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #FFFFFF;
  text-transform: none;

  background: #849D8F;
}
a {
  text-decoration: none;
}
.button {
  font : inherit;

  text-align: center;
  color: #FEFEFE;
  vertical-align: middle;
  text-transform: none;
  border: none;
  border-radius: 50px;

background-image: linear-gradient(0deg, #E74A35 0%, #F26843 100%);
box-shadow: 0 2px 2px 0 rgba(172,16,0,0.64);

}
.button:hover,
.button:focus,
.button:active {
background-image: linear-gradient(0deg, #E74A35 0%, #F26843 100%);
box-shadow: 0 2px 2px 0 #AC1000;
}

.main-navigation {
  font-family: "Roboto" bold;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
}
.site-navigation,
.user-navigation {
list-style: none;
}
.site-navigation a {
  text-decoration: underline;
  color: #FFFFFF;
}
.user-navigation a {
  background-color: #A1B4A9;
  color: #FFFFFF;
  border-radius: 50px;
  text-align: center;
  vertical-align: middle;
}
.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #F7F6F3;
  color: #323232;
  border-radius: 50px;
}
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #F8F7F4;
  color: #323232;
  border-radius: 50px;
}
.user-navigation-current fieldset {
  background-color: #F8F7F4;
  color: #323232;
}
.main-navigation-catalog a {
  background-color: #D07058;
  color: #FFFFFF;
  border-radius: 50px;
}
  .user-full-current a {
    font : inherit;

    text-align: center;
    color: #FEFEFE;
    vertical-align: middle;
    text-transform: none;
    border: none;
    border-radius: 50px;

  background-image: linear-gradient(0deg, #E74A35 0%, #F26843 100%);
  box-shadow: 0 2px 2px 0 rgba(172,16,0,0.64);
}
.user-full-current a:hover,
.user-full-current a:focus {
  color: #FFFFFF;
  background-image: linear-gradient(0deg, #E74A35 0%, #F26843 100%);
box-shadow: 0 2px 2px 0 #AC1000;

}
.breadcrumbs {
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 16px;

list-style: none;
}
.breadcrumbs-underline a{
color: #FFFFFF;
text-decoration: underline;
}

.infocard {
color: #323232;
text-transform: none;

background-color: #F2E4CE;
background-image: url("../img/bcg/waffle-big-bcg.jpg");
background-position: center;
background-repeat: repeat;
}
.infocard-list {
list-style: none;
font-size: 16px;
line-height: 22px;
}
.infocard h2 {
  font-size: 24px;
  line-height: 30px;
}
.blog {
  color: #323232;
  text-transform: none;

  background-color: #FFFFFF;
  background-image: url("../img/bcg/strawberry-bcg.jpg");
  background-position: left;
  background-repeat: repeat;
}
.blog h3 {
font-family: "Roboto" medium;
font-size: 16px;
color: #323232;
letter-spacing: 0;
line-height: 22px;
text-transform: none;
}
.new-in-blog {
font-family: "Roboto" bold;
font-size: 24px;
color: #323232;
letter-spacing: 0;
line-height: 30px;
text-transform: none;
}
.new-in-blog a {
  text-decoration: underline;
  color: #323232;
  text-transform: none;
}
.subscription {
  color: #323232;

  background-color: #F8F7F4;
  background-image: url("../img/bcg/post-bcg.svg");
  background-position: right;
  background-repeat: repeat;
}
.subscription p {
font-size: 16px;
color: #5A5A5A;
letter-spacing: 0;
line-height: 22px;
text-transform: none;
}
.subscription label{
  font-size: 16px;
  color: #999999;
  letter-spacing: 0;
  line-height: 24px;

  background: #FFFFFF;
  border: 1px solid rgba(178,178,178,0.52);
}
.inner-page h1 {
  font-family: Helvetica;
font-size: 35px;
color: #FFFFFF;
letter-spacing: 0;
line-height: 41px;

}

.catalogue-list {
list-style: none;
}

.catalogue-item h3 a {
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
  text-decoration: underline;
}

.catalogue-item-price a {
font-size: 45px;
color: #FFFFFF;
letter-spacing: 0;
line-height: 13.13px;
text-shadow: 0.5px 0.9px 3px rgba(49,50,53,0.50);
text-decoration: none;
}

.map-info {
  color: #323232;
  text-transform: none;

  background-color: #FFFFFF;
  background-position: center;
  background-repeat: repeat;
}
 .adress p {
   font-size: 18px;
color: #323232;
letter-spacing: 0;
line-height: 24px;
}
.phone p {
  font-family: Helvetica;
font-size: 14px;
color: #323232;
letter-spacing: 0;
line-height: 20px;
}
.main-footer {
  font-family: "Roboto" bold;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
}
.main-footer {
  list-style: none;
}
.footer-social a{
  text-decoration: none;
  color: #FFFFFF;
  text-transform: none;
}
.footer-social  ul{
 list-style: none;
}
.footer-navigation {
  list-style: none;
}
.footer-navigation a {
  text-decoration: underline;
  color: #FFFFFF;
  text-transform: none;
}
.footer-navigation a:hover,
.footer-navigation a:focus {
  text-decoration: underline;
  color: #FFBC9E;
  text-transform: none;

}
.footer-navigation {
  text-align: center;
}
.footer-copyright {
  font-size: 12px;
color: #FEFEFE;
letter-spacing: 0;
line-height: 16px;
text-transform: none;
}
.footer-copyright {
text-align: center;
}
.footer-copyright a {
  text-decoration: underline;
  color: #FEFEFE;
}
.footer-copyright a:hover,
.footer-copyright a:focus {
  text-decoration: underline;
  color: #FFBC9E;
}

html,
body {
  min-height:1690px ;
  min-width: 1200px;
  }
.main-header {
min-height: 115px;
}
.inner-page {
width: 1145px;
margin: 0 auto;
padding: 0 27px;
}
.inner-page .main-header {
min-height: 115px;
}
.inner-page.main-navigation {
  align-items: flex-start;
  flex-direction: row;
  min-height: 115px;
}

.container{
  width: 1145px;
  margin: 0 auto;
  padding: 0 27px;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  min-height: 115px;
}
.main-headerlogo{
  width: 154px;
  height: 64px;
  margin-right: 10px;
}
.site-navigation{
  width: 395px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-navigation{
  width: 265px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
}
.working-info {
  width: 196px;
  margin: 0;
  padding: 0;
}
.main-container {
  width: 1145px;
  margin: 0 auto;
  padding: 0 27px;
}
.index-columns {
  display: flex;
  justify-content: space-between;
}
.blog {
width:560px;
}
.subscription{
  width: 560px;
}

.breadcrumbs {
  margin: 0 ;
  margin-bottom: 5px;
  padding: 0 ;
}
.page-title {
  margin: 0 ;
  margin-bottom: 25px;
  padding: 0 ;
}
.filters {
  margin: 0 ;
  margin-bottom: 38px;
  padding: 0 ;
  min-height: 140px;
}
.catalogue {
  min-height: 1050px;
}
.catalogue-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 80px;
}
.catalogue-item {
  width: 267px;
  margin-bottom: 40px;
}
.pagination-list{
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-footer {
  padding: 35px 0;
  margin-top: 12px;
  }
.footer-container {
    width: 1145px;
    margin: 0 auto;
    padding: 0 27px;
  }
.main-footer .footer-container{
  display: flex;
}
.footer-social {
  width: 190px;
  margin-right: 200;
}
.footer-navigation {
  width: 340px;
}
.footer-copyright {
width: 200px;
margin-left: auto;
}
