body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #FFFFFF;
  text-transform: none;

  background: #849D8F;
}
.slider {
position: relative;

top:0;
left: 277px;

padding-top: 340px;


background-image: url("../img/icy-1.png");
background-repeat: no-repeat;
}
.two-icecreams {
  display: block;
  width: 695px;
font-size: 60px;
color: #FFFFFF;
letter-spacing: 0;
text-align: center;
line-height: 60px;
margin-bottom: 0;
margin-left: 194px;
margin-right: 176px;
}
.two-icecreams p:first-child {
  margin-top: 32px;
}
.slide-btn::before{

    width: 23px;
    height: 23px;
    border: 2px;
    border-radius: 50%;
    fill: none;
    color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: 0 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  display: inline-block;
  padding: 10px 20px;
  font : inherit;
  min-width: 105px;

  text-align: center;
  color: #FEFEFE;
  vertical-align: middle;
  text-transform: none;
  border: none;
  border-radius: 50px;

background-image: linear-gradient(0deg, #E74A35 0%, #F26843 100%);
box-shadow: 0 2px 2px 0 rgba(172,16,0,0.64);
}
.button.disabled,
.button:disabled {
cursor: default;
background-image: linear-gradient(0deg, #E74A35 0%, #F26843 100%);
background: rgba(255,255,255,0.20);
box-shadow: 0 2px 2px 0 #AC1000;
}
.button:hover,
.button:focus {
background: rgba(255,255,255,0.20);
background-image: linear-gradient(0deg, #E74A35 0%, #F26843 100%);
box-shadow: 0 2px 2px 0 #AC1000;

}
.button:active {
background: rgba(0,0,0,0.07);
background-image: linear-gradient(0deg, #F26843 0%, #E74A35 100%);
box-shadow: inset 0 2px 2px 0 #942718;

}
.slider-btn {
width: 282px;

font-size: 32px;
color: #FFFFFF;
letter-spacing: 0;
text-align: center;
line-height: 44px;
padding-top: 15px;
padding-bottom: 20px;
}

.main-navigation {
  font-family: "Roboto" bold;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
}
.site-navigation,
.user-navigation {
list-style: none;
margin: 0 auto;
padding: 0;
}
.site-navigation a {
  text-decoration: underline;
  color: #FFFFFF;
  display: block;
  margin-left: 24px;
  padding: 7px 5px;
    margin-left: 10px;
}
.user-navigation a {
  background-color: #A1B4A9;
  color: #FFFFFF;
  display: block;
  border-radius: 50px;
  text-align: center;
  vertical-align: middle;
padding: 7px 5px;
  margin-left: 10px;
}
.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #F7F6F3;
  color: #323232;
  display:block;
  border-radius: 50px;

}
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #F8F7F4;
  color: #323232;
  display:block;
  border-radius: 50px;
}

.user-navigation-loupe {
  content: '';

  display: block;
  width: 17px;
  height: 17px;
  padding: 9px;
border-radius: 50%;

background-image: url("../img/icon/loupe.svg");
background-repeat: no-repeat;
background-position: center;
}
.user-navigation-loupe:hover,
.user-navigation-loupe:focus {
  background-image: url("../img/icon/loupe-fha.svg");
}

.user-navigation .user-navigation-emptycart {
  position: relative;
  padding-left: 45px;
}

.user-navigation-emptycart::before {
content: '';
  position: absolute;
  top:5px;
  left:15px;

  width: 21px;
  height: 20px;
  background-image: url("../img/icon/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.user-navigation-emptycart:hover::before,
.user-navigation-emptycart:focus::before {
  background-image: url("../img/icon/basket-fha.svg") ;
}
.user-navigation-current {
  position: relative;
padding-left: 45px;
}
.user-navigation-current::before  {
content: '';
  position: absolute;
  top:5px;
  left:15px;

  width: 21px;
  height: 20px;
  background-image: url("../img/icon/basket-red.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.user-navigation .user-navigation-login {
  position: relative;
  padding-left: 45px;
}
.user-navigation-login::before {
content: '';
  position: absolute;
  top:5px;
  left:15px;

  width: 21px;
  height: 19px;
  background-image: url("../img/icon/entrance.svg");
  fill: none;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation-login:hover::before,
.user-navigation-login:focus::before {
  background-image: url("../img/icon/entrance-fha.svg") ;
}



.user-navigation-current table {
  background-color: #F8F7F4;
  color: #323232;
  width: 542px;
}
.main-navigation-catalog a {
  background-color: #D07058;
  color: #FFFFFF;
  border-radius: 50px;
  padding: 7px 5px;
  margin-left: 7px;
}
.site-navigation .catalog-dropdown-menu{
  display: none;
}
.catalog-dropdown-menu {
  position: absolute;
  list-style-type: none;

  width: 106px;

display: block;
  margin-top: 11px;
  margin-left: -20px;
  padding-left: 22px;
  padding-top: 12px;
  padding-bottom: 15px;
  padding-right: 19px;

background: #F8F7F4;
border-radius: 10px;
box-shadow: 0 20px 20px 0 rgba(0,0,0,0.40);
}
.site-navigation >li:hover .catalog-dropdown-menu {
  display: block;
}

.catalog-dropdown-menu a {
  display: block;
  text-decoration: none;
padding: 0;
margin: 0;
font-size: 14px;
color: #323232;
letter-spacing: 0;
line-height: 30px;
}
.catalog-dropdown-menu hr {
  size: 1px;
  align: center;
  margin: 0;
}
.catalog-dropdown-menu a:hover,
.catalog-dropdown-menu a:focus {

  background-color: ##FBDED7;
}



.user-full-current a {
    font : inherit;

    text-align: center;
    color: #FEFEFE;
    vertical-align: middle;
    text-transform: none;
    border: none;
    border-radius: 50px;

  background-image: linear-gradient(0deg, #E74A35 0%, #F26843 100%);
  box-shadow: 0 2px 2px 0 rgba(172,16,0,0.64);
}
.user-full-current a:hover,
.user-full-current a:focus {
  color: #FFFFFF;
  background-image: linear-gradient(0deg, #E74A35 0%, #F26843 100%);
box-shadow: 0 2px 2px 0 #AC1000;

}
.working-info .time {
  font-family: "Roboto" medium;
font-size: 14px;
color: #FFFFFF;
letter-spacing: 0;
text-align: right;
line-height: 16px;
margin-left: auto;
}
.working-info .phone {
 font-family: "Roboto" medium;
font-size: 22px;
color: #FFFFFF;
letter-spacing: 0;
text-align: right;
line-height: 24px;
}

.breadcrumbs {
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 16px;

list-style: none;
}
.breadcrumbs-underline a{
color: #FFFFFF;
text-decoration: underline;
}
.filters {
font-size: 14px;
color: #FFFFFF;
letter-spacing: 0;
}
.filters ul {
  list-style: none;
}


.infocard {
color: #323232;
text-transform: none;
border: none;
border-radius: 15px;

background-color: #F2E4CE;
background-image: url("../img/bcg/waffle-big-bcg.jpg");
background-position: center;
background-repeat: repeat;
}
.infocard-list {
list-style: none;
font-size: 16px;
line-height: 22px;
}
.infocard h2 {
  font-size: 24px;
  line-height: 30px;
}
.blog {
  color: #323232;
  text-transform: none;
  border: none;
  border-radius: 15px;

  padding-top: 25px;
  padding-left: 20px;
  margin-bottom: 40px;

  background-color: #FFFFFF;
  background-image: url("../img/bcg/strawberry-bcg.jpg");
  background-position: left;
  background-repeat: repeat;
}
.blog h3 {
margin: 0;
font-family: "Roboto" medium;
font-size: 16px;
color: #323232;
letter-spacing: 0;
line-height: 22px;
text-transform: none;
margin-bottom: 5px;
}
.new-in-blog  {
margin: 0;
font-family: "Roboto" medium;
font-size: 24px;
color: #323232;
letter-spacing: 0;
line-height: 30px;
text-transform: none;
width: 310px;
}
.new-in-blog a {
text-decoration: underline;
}
.subscription {
width: 560px;
}
 .subscription   {
  height: 100%;
  color: #323232;
  text-transform: none;
  border: none;

  margin-left: 26px;
    margin-bottom: 40px;
    padding: 4px;

  background-color: #F8F7F4;
  background-image: url("../img/bcg/post-bcg.svg");
  border-radius: 15px;
  background-size: cover;
}
  .sub-container {
    position: relative;

  width: 517px;
  color: #323232;
  text-transform: none;
  border: none;

margin: 0;
    padding-left: 23px;
    padding-top: 30px;
    padding-right: 12px;
    padding-bottom: 35px;


  background-color: #F8F7F4;
  background-position: center;
  border-radius: 15px;
}

.subscribe {
font-size: 16px;
color: #5A5A5A;
letter-spacing: 0;
line-height: 22px;
text-transform: none;
margin-bottom: 35px;
}
.subscription label{
  font-size: 16px;
  color: #999999;
  letter-spacing: 0;
  line-height: 24px;

  background: #FFFFFF;
  border: 1px solid rgba(178,178,178,0.52);
}
.subscription-email {
  display: block;

}
.subscription-email input{
  width: 358px;
  background: #FFFFFF;
  border: 1px solid rgba(178,178,178,0.52);
  border-radius: 5px;
  padding-top: 10px;
  padding-left: 13px;
  padding-bottom: 16px;


  font: "Roboto" medium;
  font-size: 16px;
color: #999999;
letter-spacing: 0;
line-height: 24px;
}
.subscription-button .button {
  width: 131px;

}

.inner-page h1 {
font-size: 35px;
color: #FFFFFF;
letter-spacing: 0;
line-height: 41px;

}

.catalogue-list {
list-style: none;
}

.catalogue-item h3 a {
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
  text-decoration: none;
}
.catalogue-item-product-name {
border-bottom: 1px solid  rgba(0,0,0,0.2);
padding-bottom: 3px;
}

.catalogue-item-price a {
font-size: 45px;
color: #FFFFFF;
letter-spacing: 0;
line-height: 13px;
text-shadow: 0.5px 0.9px 3px rgba(49,50,53,0.50);
text-decoration: none;
}
.catalogue-list li:hover,
.catalogue-list li:focus {
  border: none;
  border-radius: 2%;

  width: 268px;
  padding-top: 6px;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 20px;


background: rgba(216,216,216,0.20);
box-shadow: 0 20px 20px 0 rgba(0,0,0,0.40);
}

.catalogue-item-btn{
  display: none;
}
.catalogue-list li:hover  {
border: 1px rgba(151,151,151,1);
border-radius: 4px;
background: rgba(225,225,225,0.2);
background: rgba(248,247,244,0.2);
box-shadow: 0 20px 20px 0 rgba(0,0,0,0.40);
}
.catalogue-list li:hover .catalogue-item-btn {
  order: 3;
  display: block;
  width:200px;
  padding: 20px 13px;
margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

font-size: 18px;
color: #FEFEFE;
letter-spacing: 0;
text-align: center;
line-height: 24px;

border: none;
border-radius: 50px;
background: #E84D37;
background-image: linear-gradient(0deg, #E74A35 0%, #F26843 100%);
box-shadow: 0 1px 2px 0 #AC1000;
}
.catalogue-item-btn a {
  font-size: 18px;
  color: #FEFEFE;
  letter-spacing: 0;
  text-align: center;
  line-height: 24px;
}

.map {
  display: flex;

}
 .map div   {
   position: absolute;
   width: 254px;
   margin-top: 60px;
   margin-right: 27px;
   margin-bottom: 60px;
   margin-left:870px;

   padding-top: 29px;
   padding-right: 25px;
   padding-bottom: 31px;
   padding-left: 25px;

  color: #323232;
  background-color: #FFFFFF;
  border:none;
  border-radius: 10px;
}
.map-img {
  position: relative;
  width: 100%;
}



 .adress p {
   font-size: 18px;
color: #323232;
letter-spacing: 0;
line-height: 24px;
margin-bottom: 25px;
}
.phone p {
font-size: 14px;
color: #323232;
letter-spacing: 0;
line-height: 20px;
margin-bottom: 30px;
}
.main-footer {
  font-family: "Roboto" bold;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
}
.main-footer {
  list-style: none;
}
.footer-social a{
  text-decoration: none;
  color: #FFFFFF;
  text-transform: none;
}
.footer-social  ul{
 list-style: none;
 margin: 0 auto;
 padding: 0;
}
.footer-navigation {
  list-style: none;
}
.footer-navigation a {
  text-decoration: underline;
  color: #FFFFFF;
  text-transform: none;
}
.footer-navigation a:hover,
.footer-navigation a:focus {
  text-decoration: underline;
  color: #FFBC9E;
  text-transform: none;
}

.footer-copyright {
  font-size: 12px;
color: #FEFEFE;
letter-spacing: 0;
line-height: 16px;
text-transform: none;
}
.footer-copyright {
text-align: center;
}
.footer-copyright a {
  text-decoration: underline;
  color: #FEFEFE;
}
.footer-copyright a:hover,
.footer-copyright a:focus {
  text-decoration: underline;
  color: #FFBC9E;
}

html,
body {
  min-height:1690px ;
  min-width: 1200px;
  }

.inner-page {
width: 1145px;
margin: 0 auto;
padding: 0 27px;
}
.inner-page.main-navigation {
  align-items: flex-start;
  flex-direction: row;
  min-height: 115px;
}
.container {
  width: 1145px;
  margin: 0 auto;
  padding: 0 27px;

}

.main-navigation {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin-bottom: 500px;
}

.main-headerlogo{
  width: 154px;
  height: 64px;
  margin-right: 10px;
  margin-left: auto;
  padding: 0;
}
.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  width: 500px;
  padding: 0;
  margin-top: 27px;
  list-style: none;

}
 .user-blok {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-left: auto;
   margin-bottom: 15px;
 }
.user-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 270px;
  padding: 0;
  margin-top: 27px;
  list-style: none;
  margin-left: auto;
}

.working-info {
  width: 170px;
  margin-left: auto;
  padding: 0;
   margin-left: auto;
}

.main-container {
  width: 1145px;
  margin: 0 auto;
  padding: 0 27px;
}
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;


}
.rapsberty-bnr {
  width: 560px;
  color: #FFFFFF;

padding: 0;
  margin-bottom: 40px;

  background-color: #940215;
  background-image: url("../img/bcg/rapsberry-bcg.jpg");
  border-radius: 15px;
  background-repeat: repeat;
}
.choco-bnr {
width: 560px;
  color: #FFFFFF;

padding: 0;
  margin-bottom: 40px;
  margin-left: 26px;

  background-color: #2A0002;
  background-image: url("../img/bcg/choco-bcg.jpg");
  border-radius: 15px;
  background-repeat: repeat;
}

.rapsberry,
.choco {
font-size: 18px;
letter-spacing: 0;
line-height: 22px;

margin-top: 16px;
margin-right: 20px;
margin-left: 21px;
margin-bottom: 23px;


}
.rapsberry-b
.choco-b {
margin-right: : auto;
}
.rapsberry-b a,
.choco-b a{
  font-size: 18px;
color: #FFFFFF;
letter-spacing: 0;
text-align: center;
line-height: 24px;
padding: 15px 20px;

border: none;
border-radius: 50px;
  opacity: 0.99;
background-image: linear-gradient(0deg, #E74A35 0%, #F26843 100%);
box-shadow: 0 2px 2px 0 rgba(172,16,0,0.64);
}



.hit {
  margin-bottom: 40px;
}
.slider-switches{
  display: flex;
  justify-content: flex-start ;
  list-style: none;
}
.hit-item {
  position: relative;
  padding: 0;
}
 .hit-img::before{
  content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 61px;
    height: 61px;
  background-image:url("../img/icon/hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.infocard {
  width: 1145px;
  margin-bottom:40px;
  padding: 0;
}
.infocard h2 {
width: 1045px;
margin-bottom: 27px;
margin-left: 21px;
margin-top: 21px;
}
.infocard-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.infocard-list-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  width: 485px;
  margin-left: 76px;
}
.infocard-list-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  width: 485px;
  margin-left: 76px;
  margin-right: 21px;
}
.infocard-item {
position: relative;

margin-bottom: 30px;
}
.ice-cream::before {
content: url("../img/icon/ice-cream.svg");
  position: absolute;
  top:-15px;
  left:-60px;

  width: 49px;
  height: 49px;
}
 .eco::before {
content: url("../img/icon/eco.svg");
  position: absolute;
  top:-15px;
  left:-60px;

  width: 49px;
  height: 49px;
}
.cow::before {
content: url("../img/icon/cow.svg");
  position: absolute;
  top:-15px;
  left:-60px;

  width: 49px;
  height: 49px;
}
 .therm::before {
content: url("../img/icon/thermometer.svg");
  position: absolute;
  top:-15px;
  left:-60px;

  width: 49px;
  height: 49px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
}
.blog {
width:560px;
}
.subscription{
  width: 560px;
}
.subscription-form-container {
  display: flex;
  justify-content: space-between;
  margin:  0;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
  margin: 0 ;
  margin-right: 20px;
  margin-bottom: 5px;
  padding-left:0 ;
}
.filters {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 880px;
  margin: 0 ;
  padding:0 ;
}
.filter-container-top {
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-between;
margin: 0 ;
padding:0 ;
}
.filter-container-bottom {
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-between;
margin: 0 ;
padding:0 ;
}
 .fatness-fillers {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

  width: 417px;
  padding: 7px 28px;
}
.filter-button {
  width: 146px;
  padding: 7px 28px;
background: rgba(255,255,255,0.00);
border: 2px solid #FFFFFF;

}
.page-title {
  margin: 0 ;
  margin-bottom: 25px;
  padding: 0 ;
}
.filters {
  margin: 0 ;
  margin-bottom: 38px;
  padding: 0 ;
  min-height: 140px;
}
.catalogue {
  min-height: 1050px;
  margin: 0;
  padding: 0;
}
.catalogue-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 80px;
}

.catalogue-item {
  display: flex;
  flex-direction: column;
  width: 267px;
  margin-bottom: 40px;
}
.catalogue-item h3 {
  order: 2;
  text-align: center;
}
.catalogue-item-price {
  margin-top: -60px;
}
.pagination-list{
  display: flex;
  flex-direction: row;
  margin:0;
  padding: 0;
  list-style: none;
}
.pagination-item-curren{
  width: 20px;
  margin-right: 20px:
}
.pagination-item{
  width: 20px;
  margin-right: 20px:
}
.main-footer {
  padding: 35px 0;
  margin-top: 12px;
  }
.footer-container {
    width: 1145px;
    margin: 0 auto;
    padding: 0 27px;
  }
.main-footer .footer-container{
  display: flex;
}
.footer-social {
  width: 220px;
  margin: 0;
  padding: 0 27px;
}
.social-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  width: 210px;
  padding: 0;
  margin-top: 32px;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: auto;
}
.social-button{
  display: block;
  position: relative;

  width: 40px;
  height: 40px;

  margin-right: 10px;
  margin-bottom: 28px;

border-radius: 50%;
background: #FFFFFF;
background-repeat: no-repeat;
background-position: 0 0;

}

 .button-tw::before {
   content: '';
   position: absolute;
     top: 4px;
     left: 4px;

     width: 32px;
     height: 32px;
  border-radius: 50%;
  background-color:  #849D8F;
  background-image: url("../img/icon/twitter.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.button-inst::before {
  content: '';
    position: absolute;
    top: 4px;
    left: 4px;

    width: 32px;
    height: 32px;
  border-radius: 50%;
  background-color:  #849D8F;
  background-image: url("../img/icon/instagram.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.button-fb::before {
  content: '';
    position: absolute;
    top: 4px;
    left: 4px;

    width: 32px;
    height: 32px;
  border-radius: 50%;
  background-color:  #849D8F;
  background-image: url("../img/icon/fb.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.button-vk::before{
  content: '';
    position: absolute;
    top: 4px;
    left: 4px;

    width: 32px;
    height: 32px;
  border-radius: 50%;
  background-color:  #849D8F;
  background-image:url("../img/icon/vk.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-navigation  ul{
  display: flex;
  justify-content: space-around;
  width: 340px;
  list-style: none;
  margin-left: 100px;
  margin-bottom: 28px;
  margin-right: 0;
  padding-left: 30px;
}
.footer-navigation-right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  width: 140;
  margin-left:5px;
  padding: 0;
}
.footer-navigatiom-item-heart {
  position: relative;
  padding-left: 20px;

}
.footer-navigatiom-item-heart::before {
  content: url("../img/icon/heart.svg");
  position: absolute;

  top: 1px;
  left: 1px;

  width: 15px;
  height: 13px;
}
.footer-navigation-left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  width: 170;
  margin-left: 5px;
  padding: 0;
}

.footer-copyright {
width: 190px;
margin-left: auto;
margin-bottom: 28px;
margin-right: 0;
padding: 0;
position: relative;
}
.footer-copyright-logo::before {
  content:  url("../img/icon/logo-htmlacademy.svg");
position: absolute;
  top: 0;
  left: 0;

  width: 109px;
  height: 38px;
}
.footer-copyright-text {
  margin-top: 43px;
}

.modal {

color: #323232;

background-color: #F8F7F4;
box-shadow: 0 20px 20px 0 rgba(0,0,0,0.40);
border-radius: 15px;
}

.modal-login {
  width: 280px;
  padding: 18px 20px;
}
.login-icon-user input,
.login-icon-password input {
  box-sizing: border-box;
  display: block;
  background: #FFFFFF;
  width: 244px;
  margin: 0;
  margin-bottom: 17px;

  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 11px;


 border: 1px solid #D3D3D2;
 border-radius: 5px;

 font: "Roboto" medium;
  font-size: 14px;
 color: #999999;
 letter-spacing: 0;
 line-height: 24px;
}


.modal-search {
display: none;}

.modal-search {
position: absolute;
list-style-type: none;
display: block;
  margin-top: 11px;
  margin-left: -20px;



background: #F8F7F4;
border-radius: 10px;
box-shadow: 0 20px 20px 0 rgba(0,0,0,0.40);
}
.user-navigation>li:hover .modal-search {
display: block;
}


.modal-close {
  font-size: 0;
  border: 0;
  background-color: #d0d0d0;
}
.login-link-button {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.login-link-button p {
  margin: 0;
}
.login-password-info {
  display: flex;
  flex-direction: column;
}
.login-password-info a {
text-decoration: underline;
font-size: 13px;
color: #323232;
letter-spacing: 0;
line-height: 24px;
}
